{% load static %}
<nav class="navbar navbar-expand-lg fixed-top navbar-custom">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{% static 'images/logo.png' %}" alt="PetClinic Logo" class="brand-logo me-2">
            <span class="brand-text">PetClinic</span>
        </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="toggler-icon top-bar"></span>
            <span class="toggler-icon middle-bar"></span>
            <span class="toggler-icon bottom-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Services
                    </a>
                    <ul class="dropdown-menu shadow" aria-labelledby="servicesDropdown">
                        <li><a class="dropdown-item" href="/services/checkups/"><i class="fas fa-stethoscope me-2"></i>Checkups</a></li>
                        <li><a class="dropdown-item" href="/services/vaccines/"><i class="fas fa-syringe me-2"></i>Vaccinations</a></li>
                        <li><a class="dropdown-item" href="/services/grooming/"><i class="fas fa-scissors me-2"></i>Grooming</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/services/"><i class="fas fa-list me-2"></i>All Services</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/team/">Our Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/faqs/">FAQs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact/">Contact</a>
                </li>
            </ul>
            <div class="d-flex align-items-center">
                <a href="/appointment/" class="btn btn-cta hover-lift">Book Appointment</a>
            </div>
        </div>
    </div>
</nav>
